
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<p id="notice"><%= notice %></p>

<h1>Talent Team OKRs 2020</h1> 
<h5><%= link_to 'Add Team Member', new_assignee_path %></h5>
<h2> What are our OKRs?</h2> <h5><%= link_to 'New Okr', new_okr_path %></h5>

  <tbody>
  <% @okrs.each do |okr| %>
    <table>
  <thead>
</div>
    <tr>
      <th style="text-align:left;">Objective</th>
      <th style="text-align:left;">Key Results</th>
      <th colspan="2"></th>
    </tr>
  </thead>
    <tr>
      <td><%= okr.objective %></td>
      <td><%= okr.key_results %></td>
      <td><%= link_to 'Edit', edit_okr_path(okr) %></td>
      <td><%= link_to 'Destroy', okr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Add Project', new_okr_project_path(okr) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2> Where is our focus currently?</h2>

<table>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
     <td><%= project.name %></td>
     <td><p> (Milstones <%= project.milestones.count %>)</p></td>
     <td><%= link_to 'Add Milestone', new_okr_project_milestone_path(project.okr, project) %></td>
     <td><%= link_to 'Edit', edit_okr_project_path(project.okr, project) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2> Weekly Goals</h2>

<% @assignees.each do |assignee| %>
 <p style="color:#<%= assignee.color %>"> <%=assignee.full_name %> </p> 
<% assignee.milestones.each do |milestone| %>
  <% if milestone.is_done? %>
          <ul style="list-style-type:none;">
            <li><strike> <%= milestone.name.order(:due_date) %> <%= milestone.due_date %></strike></li>
          </ul>
        <% else %>
      <ul style="list-style-type:none;">
        <li> <%= milestone.name %> <%= milestone.due_date %> 
             <%= link_to 'Complete', complete_okr_project_milestone_path(milestone.project.okr, milestone.project, milestone), method: :patch %>
             <%= link_to 'Edit', edit_okr_project_milestone_path(milestone.project.okr, milestone.project, milestone) %> </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
