<p id="notice"><%= notice %></p>

<h1>Talent Team OKRs 2020</h1>
<h2> What are our OKRs? </h2>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Key Results</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @okrs.each do |okr| %>
      <tr>
        <td><%= okr.objective %></td>
        <td><%= okr.key_results %></td>
        <td><%= okr.owner %></td>
        <td><%= link_to 'Edit', edit_okr_path(okr) %></td>
        <td><%= link_to 'Destroy', okr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Project', new_okr_project_path(okr) %></td>
      </tr>
    <% end %>

<%= link_to 'New Okr', new_okr_path %>

</tbody>
</table>

<h2> Where is our focus currently?</h2>
<table>
<tbody>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
     <td><%= link_to 'Add Milestone', new_okr_project_milestone_path(project.okr, project) %></td>
    </tr>
    <% end %>

</tbody>
</table>

<br>

<h2> Weekly Goals</h2>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.name %></td>
  </tr>
  <% end %>



<h2> YTD Milestone Status</h2>