<script src="jscolor.js"></script>
<%= form_for(@assignee) do |form| %>
    <% if @assignee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignee.errors.count, "error") %> prohibited this assignee from being saved:</h2>
  
      <ul>
        <% @assignee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
      <div class="field"> 
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>
    
      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :birthday %>
        <%= form.date_field :birthday%>
      </div>

      <div class="field">
        <%= form.label :nickname %>
        <%= form.text_field :nickname %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :color %>
        <%= form.text_field :color, :class => "jscolor",  :value => "808080" %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
  <% end %>
        
